{
  "env": {
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "@coorpacademy/coorpacademy"
  ],
  "extends": [
    "plugin:@coorpacademy/coorpacademy/core",
    "plugin:@coorpacademy/coorpacademy/es20XX",
    "plugin:@coorpacademy/coorpacademy/ava"
  ],
  "rules": {
    "no-shadow": "off"
  }
}